a{color: #222; text-decoration: none;}
#wrap{width: 100%;}


/* 스와이퍼 공통제어 */
.swiper-nextBtn{width: 9px; height: 14px; background: url(../img/icon/main_slide_right.svg) no-repeat; z-index: 9999; cursor: pointer;}
.swiper-prevBtn{width: 9px; height: 14px; background: url(../img/icon/main_slide_left.svg); cursor: pointer;}
.swiper_pagination{width: 40px; height: 16px; text-align: center; position:  relative; top: -1px;} 
.swiper_pauseBtn{margin-left: 20px; width: 24px; height: 16px; border-radius: 3px; background: rgba(0,0,0,.5) url(../img/icon/slide_pause.png) no-repeat center center; border: none;}
.swiper_playBtn{margin-left: 20px; width: 24px; height: 16px; border-radius: 3px; background: rgba(0,0,0,.5) url(../img/icon/slide_start.png) no-repeat center center; border: none;}
.swiper-button-disabled{opacity: .35; cursor: auto; pointer-events: none;}






#header{width: 100%; height: 140px; border-bottom: 1px solid #ddd; position: fixed; top: 0; left: 0; background: #fff; z-index: 1000; box-shadow: 0 1px 10px rgba(0,0,0,.4); transition: .3s;}

.headerTopNav{width: 100%; height: 48px; border-bottom: 1px solid #ddd; position: relative; transition: .3s;}
.container{width: 1440px; margin: 0 auto; display: flex; justify-content: space-between; height: inherit; align-items: center; transition: .3s;}

.headerTopLeftLogo{display: flex; align-items: center;}
.headerTopLeftLogo h1>a{width: 107px; height: 27px; display: block; text-indent: -99999px; background: url(../img/icon/icon_set_common.png)no-repeat 0 -166px;}
.headerTopLeftLogo h1{margin-right: 50px;}
.headerTopLeftLogo p{display: flex;}
.headerTopLeftLogo p span{display: inline-block; width: 19px; height: 17px; background: url(../img/icon/ico-sprite-common-gnb.png) no-repeat 0 -42px; text-indent: -99999999px;}
.headerTopLeftLogo p i{font-size: 14px; color: #575757; padding-left: 5px;
position: relative; top: 2px;}


.headerTopRightGnb ul{display: flex;}
.headerTopRightGnb ul li{margin-left: 16px;}
.headerTopRightGnb ul li a{color: #575757; font-size: 14px; font-weight: 600;} 

.headerBottomNav{height: 90px;}
.headerBottomNav nav .bg{position: absolute; top: 140px; left: 0; background: rgb(255, 255, 255); width: 100%; height: 0; border-bottom: 2px solid #fff; overflow: hidden; transition:height .3s;}
.headerBottomNav nav:hover .bg{height: 200px; border-bottom: 2px solid #ddd;}
.headerBottomNav nav>ul{display: flex; }
.headerBottomNav nav>ul>li{width: 120px; text-align: center;}
.headerBottomNav nav>ul>li>a{display: block; width: 120px; padding: 39px 0; position: relative; font-weight: 600;}
.headerBottomNav nav>ul>li>a .icon{width: 20px; height: 20px; display: inline-block; background: url(../img/icon/icon_link.svg) no-repeat center center; position: absolute; top: 36px; left: 97px;}

.headerBottomNav nav>ul>li>ul{position: absolute; width: 120px; text-align: center; /* padding: 10px 0; */ overflow: hidden; height: 0; transition: .3s;}
.headerBottomNav nav>ul>li:hover>ul{height: 200px; padding: 10px 0;}
.headerBottomNav nav>ul>li>ul>li{line-height: 200%;}
.headerBottomNav nav>ul>li:hover >a{color: rgb(161, 15, 15);}
/* 서브메뉴 항목에 마우스 올렸을 때 → 해당 항목만 스타일 변경 */
.headerBottomNav nav > ul > li > ul > li:hover > a {
  color: rgb(161, 15, 15);
  border-bottom: 1px solid rgb(161, 15, 15);
  font-weight: 600;
}
/* 메뉴 전체에 마우스 올리면 전체 서브메뉴 열리게 하기 */
.headerBottomNav nav:hover ul ul {
  height: 200px;
  padding: 10px 0;
}







.mobileLogo{display: none; transition: .3s;}


.searchBox .mobile{display: none;}




#content{width: 100%; padding-top: 150px; margin-bottom: 70px;}
.section01{position: relative; margin-top: 50px;}
.section01 .swiper-slide{width: 100%; height: 750px; background-repeat: no-repeat; background-size: 1920px; background-position: center bottom; transform: translateZ(0);}
.section01 .inner_wrap{margin-top: 30px;}
.section01 .inner_wrap>div{width: 1140px; margin: 0 auto;}
.section01 .inner_wrap>div>p{font-size: 22px; margin-bottom: 20px;}
.section01 .inner_wrap>div>h3{font-size: 48px; font-weight: 700;}
.controller_wrap{position: absolute; max-width: 1140px; margin: 0 auto; width: 100%; height: 40px; top: 158px; left: 50%; transform: translateX(-50%); z-index: 99;}
.controller_wrap>div{display: flex;}


body {
  overflow-x: hidden;
}


.section02{width: 100%; margin: 100px 0; background: linear-gradient(180deg, #fff 85%, #f8f8f8 100%); padding-bottom: 60px;}
.section02 .container2{width: 1440px; margin: 0 auto; }
.section02 .container2 h2{ font-size: 34px; margin-bottom: 30px; font-weight: 700;}
.history_icon_wrap{width: 100%;}
.history_icon_wrap ul{display: flex; width: 100%; margin: 0 auto;}
.history_icon_wrap ul li{width: calc(100%/8); max-width: 180px; min-width: 100px; border-radius: 12px; }
.history_icon_wrap ul li:hover{border: 2px solid rgb(196, 32, 32); box-sizing: border-box; }
.history_icon_wrap ul li a{display: block; text-align: center; padding: 32px 30px; font-weight: 600;}
.history_icon_wrap ul li a .icon{position: relative; width: 100px; height: 100px; text-align: center; border-radius: 50%; margin: 0 auto;}
.history_icon_wrap ul li a p::after{display: block; max-width: 28px; min-height: 28px; content: ""; width: 100%; height: 28px; background: url(../img/icon/main_sevice_icons_arrow.svg) no-repeat center; position: absolute; top: 68px; right: -8px;}
.history_icon_wrap ul li:hover a p::after{display: block; max-width: 28px; min-height: 28px; content: ""; width: 100%; height: 28px; background: url(../img/icon/main_sevice_icons_arrow_color.svg) no-repeat center; background-size: contain;}
.history_icon_wrap ul li a .icon1{background: url(../img/icon/main_service_icon1.png) no-repeat center center;}
.history_icon_wrap ul li a .icon2{background: url(../img/icon/main_service_icon2.png) no-repeat center center;}
.history_icon_wrap ul li a .icon3{background: url(../img/icon/main_service_icon3.png) no-repeat center center;}
.history_icon_wrap ul li a .icon4{background: url(../img/icon/main_service_icon4.png) no-repeat center center;}
.history_icon_wrap ul li a .icon5{background: url(../img/icon/main_service_icon5.png) no-repeat center center;}
.history_icon_wrap ul li a .icon6{background: url(../img/icon/main_service_icon6.png) no-repeat center center;}
.history_icon_wrap ul li a .icon7{background: url(../img/icon/main_service_icon7.png) no-repeat center center;}
.history_icon_wrap ul li a .icon8{background: url(../img/icon/main_service_icon8.png) no-repeat center center;}
.history_icon_wrap ul li a .icon_tit{margin-top: 20px;}








.section03{}
.section03 .container{flex-direction: column; align-items: stretch;}
.section03 .container .sec3_tit_wrap{display: flex; justify-content: space-between; margin-bottom: 30px;} 
.section03 .container .sec3_tit_wrap h2{font-size: 38px; font-weight: 700;}
.sec3Swiper{width: 100%; }
.sec3_slider_wrap{}
.sec3_slider_wrap .swiper-slide{width: 450px; height: 440px; background: #eee;  position:  relative; overflow: hidden;}
.sec3_slider_wrap .swiper-slide a{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);} 
span.arrow{display: inline-block; width: 11px; height: 14px; background: url(../img/icon/more_arrow.svg) no-repeat;}
.sec3_slider_wrap .swiper-slide .slide_dec{position: absolute; left: 0; bottom: -120px; width: 100%; height: 120px; background: rgba(255,255,255,.6); text-align: center; padding-top: 30px; box-sizing: border-box; transition: .3s;}
.sec3_slider_wrap .swiper-slide:hover .slide_dec{bottom: 0;}
.sec3_slider_wrap .swiper-slide .slide_dec h3{font-size: 20px; font-weight: 700; letter-spacing: -1px;}
.sec3_slider_wrap .swiper-slide .slide_dec p{margin-top: 10px; font-size: 14px;}
.sec3_slider_wrap .swiper-slide img{width: 220px;}








.section04{width: 100%; margin: 100px 0;}
.section04 .container>div{width: 49%;}
.notiNews{display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
.notiNews h2{font-size: 38px; font-weight: 700;} 

.notiNewsCnt ul{display: flex;}
.notiNewsCnt ul li{display: flex; width: 50%; padding: 0 40px; box-sizing: border-box;}
.notiNewsCnt ul li:first-child{border-right: 1px solid #ddd;}
.notiNewsCnt ul li .left{text-align: center; width: 25%; padding-top: 20px;}
.notiNewsCnt ul li .left .day{color: #8f0808; font-size: 32px; font-weight: bold; letter-spacing: 2px;}
.notiNewsCnt ul li .left .date{font-size: 12px; color: #666666; letter-spacing: -1px; margin-top: 10px;}
.notiNewsCnt ul li .right{width: 75%; padding-left: 20px; box-sizing: border-box;}
.notiNewsCnt ul li .right p{font-size: 14px; color: #666666; letter-spacing: -1px;margin-bottom: 20px; }
.notiNewsCnt ul li .right .h3{line-height: 1.5; font-weight: 600;  width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}







/* section05 */
.section05{width: 100%; height: 800px;}
.tabslide{width: 100%; height: 100%;}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(1){background: url(../img/section01_bg.jpg) no-repeat center center;}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(2){background: url(../img/section02_bg.jpg) no-repeat center center;}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(3){background: url(../img/section03_bg.jpg) no-repeat center center;}
.tabslide>.swiper-wrapper> .swiper-slide:nth-child(4){background: url(../img/section04_bg.jpg) no-repeat center center;}

.tab-pagination{position: absolute; width: 100%; max-width: 1440px; display: flex; justify-content: space-between; bottom: 75px !important; z-index: 3; left: 50% !important; transform: translateX(-50%);}
.tabslide .swiper-pagination-bullet{width: calc(25% - 7px); height: 40px; border-radius: 0; text-align: center; border-bottom: 1px solid #fff; opacity: 0.6; background: transparent; display: block;}
.tabslide .swiper-pagination-bullet-active{border-bottom: 3px solid #fff; opacity: 1; font-weight: 700;}
.tabslide .swiper-pagination-bullet span{color: #fff; display: block; width: 100%; height: 100%; padding-bottom: 20px;}

.tabslide .swiper_pauseBtn{border: 1px solid #eee; height: 18px; bottom: 20px; width: 20px; left: 50%; z-index: 3; position: absolute;}
.tabslide .swiper_playBtn{border: 1px solid #eee; height: 18px; bottom: 20px; width: 20px; left: 50%; z-index: 3; position: absolute;}

.slide_cont_wrap{width: 100%; max-width: 1440px; position: relative; margin: 0 auto; padding: 15px;}
.slide_cont_wrap h2{color: #fff; font-weight: 400; font-size: 34px; line-height: 200%;}
.slide_cont_wrap h2 b{font-weight: 700;}
.slide_cont_wrap h2 a{font-size: 18px; color: #fff; position: relative;}
.slide_cont_wrap h2 a::after{content: ""; width: 12px; height: 18px; background: url(../img/icon/more_arrow2.png) no-repeat; position: absolute; top: 8px; right: -20px;}
.slide_cont_wrap .tab_slide_content{width: 665px; height: 440px; padding: 40px 60px; box-sizing: border-box; background: #fff; position: absolute; right: 0; top: 100px;}

.type{padding: 2px 12px; display: inline-flex; align-items: center; color: #fff; height: 34px; font-size: 15px; justify-content: center;}
.type1{background: #000;}
.type2{background: #8f0808;}

.tab_slide_content h3{max-width: 350px; font-size: 34px; font-weight: 700; margin: 15px 0; width:100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; line-height: 130%;}
.tab_slide_content h3 a{}
.tab_slide_content .content_text{max-width: 350px; font-size: 18px; font-weight: 400; margin: 15px 0; width:100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; color: #555; line-height: 150%;}
.tab_slide_content .swiper-slider{background: #fff;}
.schedule_list{}
.schedule_list li{line-height: 180%;}
.schedule_list li em{font-weight: 700;}


.tabslide .controller_wrap{position: absolute; top: 8px; right: 20px; z-index: 999; width: 100px; height: 40px;}
.tabslide .controller_wrap>div{}
.tabslide .controller_wrap>div .swiper_nextBtn{}
.tabslide .controller_wrap>div .swiper_prevBtn{}
.tabslide .controller_wrap>div .swiper_pagination1{position: relative; left: 24px; top: -1px;}
.tabslide .controller_wrap>div .swiper_pagination3{position: relative; left: 0px; top: -1px;}





/* section6 */
.section06{margin: 100px 0;}
.section06>.container>div{width: 48%; justify-content: space-between;}

.section06 .container{align-items: start;}
.section06 .on>ul{}
.section06 .on>ul>li{display: flex; height: 185px; margin-bottom: 30px;}
.section06 .on>ul>li>.img{width: 50%; padding-right: 20px; box-sizing: border-box;}
.section06 .on>ul>li>.img a{display: block; position: relative; height: 100%; width: 100%;}
.section06 .on>ul>li>.img a .playBtn{position: absolute; width: 50px; height: 50px; background: #fff url(../img/icon/video_play.jpg) no-repeat center center; z-index: 999; border-radius: 50%; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.section06 .on>ul>li>.img1{background: url(../img/videoimage01.jpg) no-repeat left top;}
.section06 .on>ul>li>.img2{background: url(../img/videoimage02.jpg) no-repeat left top;}
.section06 .on>ul>li>.text{width: 50%; padding-left: 10px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center;} 
.section06 .on>ul>li>.text h3{font-size: 20px; font-weight: 700; margin-bottom: 20px;}
.section06 .on>ul>li>.text p{font-size: 14px; line-height: 180%; color: #555;}
.popupzon{width: 655px; height: 400px;}
.popupzon img{width: 100%; height: 100%;}
.popupzonSwiper{width: 100%; height: 100%;}
.popupzonSwiper .swiper-pagination4{position: absolute; bottom: 20px;}
.popupzonSwiper .swiper_pauseBtn{position: absolute; bottom: 20px; left: 55%; z-index: 9999;}
.popupzonSwiper .swiper_playBtn{position: absolute; bottom: 20px; left: 55%; z-index: 9999;}
.popupzonSwiper .more a{display: block; position: absolute; bottom: 0; right: 0; background: rgba(0,0,0,.6); color: #fff; padding: 10px; z-index: 9999;}

.swiper-pagination-bullet-active{background: #8f0808; width: 20px; border-radius: 10px;} 


/* 팝업 모달창 */
.section06More{width: 100%; height: 100vh; background: rgba(0,0,0,.4); position: fixed; top: 0; left: 0; z-index: 99999999; display: none;}
.section06More .moreBox{width: 1084px; height: 522px; background: #fff; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.moreTit{display: flex; padding: 20px; box-sizing: border-box; justify-content: space-between; border-bottom: 1px solid #eee;}
.moreTit > h2{flex-grow: 1; text-align: center; font-size: 20px; font-weight: 700;}
.moreTit .fa-times{font-size: 30px;}
.moreImgBox{display: flex; padding: 20px;}
.moreImgBox img{width: 40%;}










/* section07 */
.section07{}
.section07 .container7{width: 100%; max-width: 1440px; margin: 0 auto; }
.section07 .container7 h2{font-size: 38px; font-weight: 700;}
.section07 .container7 h2 .red{color: #8f0808;}
.section07Grid{margin-top: 50px;}
.section07Grid .gridSwiper{width: 100%; height: 860px;}
.section07Grid .gridSwiper .swiper-slide{width: calc(100% / 4); height: calc((100% - 30px) / 2) !important;  /* Center slide text vertically */  /* display: flex;  justify-content: center; */}

.gridSwiper .swiper-slide:nth-child(1){background: url(../img/section07/001.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(2){background: url(../img/section07/002.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(3){background: url(../img/section07/003.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(4){background: url(../img/section07/004.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(5){background: url(../img/section07/005.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(6){background: url(../img/section07/006.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(7){background: url(../img/section07/007.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(8){background: url(../img/section07/008.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(9){background: url(../img/section07/009.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(10){background: url(../img/section07/010.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(11){background: url(../img/section07/011.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(12){background: url(../img/section07/012.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(13){background: url(../img/section07/013.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(14){background: url(../img/section07/014.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(15){background: url(../img/section07/015.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(16){background: url(../img/section07/016.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(17){background: url(../img/section07/017.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(18){background: url(../img/section07/018.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(19){background: url(../img/section07/019.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(20){background: url(../img/section07/020.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(21){background: url(../img/section07/021.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(22){background: url(../img/section07/022.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(23){background: url(../img/section07/023.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(24){background: url(../img/section07/024.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(25){background: url(../img/section07/025.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(26){background: url(../img/section07/026.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(27){background: url(../img/section07/027.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(28){background: url(../img/section07/028.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(29){background: url(../img/section07/029.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(30){background: url(../img/section07/030.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(31){background: url(../img/section07/031.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(32){background: url(../img/section07/032.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(33){background: url(../img/section07/033.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(34){background: url(../img/section07/034.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(35){background: url(../img/section07/035.jpg) no-repeat center/cover;}
.gridSwiper .swiper-slide:nth-child(36){background: url(../img/section07/036.jpg) no-repeat center/cover;}

.gridSwiper .swiper-slide{position: relative;}
.hoverbox{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.4); padding: 30px; box-sizing: border-box; color: #fff; display: none;}
.hoverbox h3{font-size: 20px; margin-bottom: 20px;}
.gridSwiper .swiper-slide:hover .hoverbox{display: block;}

.swiper-pagination7{display: flex; justify-content: center;}

.swiper-button-next7,.swiper-button-prev7{width: 50px; height: 50px; background: rgba(0,0,0,.5); border-radius: 50%; color: #ffffff;}
.swiper-button-next7::after,.swiper-button-prev7::after{font-size: 16px;}








.footer{margin-top: 30px; border-top: 1px solid #ddd;}
.footer .container{padding: 20px; box-sizing: border-box;}
.f_addresswrap .f_logo{margin-bottom: 30px;} 
.f_addresswrap ul{display: flex;} 
.f_addresswrap ul li{margin-right: 15px;} 
.f_addresswrap ul li a{font-weight: 700;} 
.f_addresswrap .addresswrap{display: flex; margin-top: 20px; font-size: 15px; color: #555;}
.f_addresswrap .addresswrap address{margin-right: 20px;} 
.f_addresswrap .addresswrap .email{margin-right: 20px;} 
.f_addresswrap .addresswrap p{margin-right: 20px;} 
.f_addresswrap .copy{margin-top: 10px; font-size: 15px; color: #222;} 
.f_snswrap{}
.f_snswrap .sns{}
.f_snswrap .sns ul{display: flex; justify-content: flex-end;}
.f_snswrap .sns ul li{margin-left: 20px;}
.f_snswrap .familysite{position: relative; margin-top: 20px;}
.f_snswrap .familysite input{border: none; border-bottom: 1px solid #ddd; width: 100%; padding: 10px 0 10px; }
.f_snswrap .familysite .btn{position: absolute; content: ""; width: 12px; height: 10px; background: url(../img/icon/arrow3.png) no-repeat center center; top: 15px; right: 10px;}
.f_snswrap .familysite .btn.on{background: url(../img/icon/arrow3_up.png) no-repeat center center;}
.f_snswrap .familysite input:focus{outline: none;} 
.f_snswrap .familysite .sitebox{position: absolute; width: 100%; background: #ffffff; padding: 20px; box-sizing: border-box; box-shadow: 5px 3px 20px #333; top: -250px; z-index: 9999; display: none;}
.f_snswrap .familysite .sitebox.on{display: block;}
.f_snswrap .familysite .sitebox ul{}
.f_snswrap .familysite .sitebox ul li{height: 30px; line-height: 30px; color: #333;}
.f_snswrap .randombox{margin: 20px 0;}

.f_snswrap .randombox>a{margin-left: 10px;}
.f_snswrap .randombox>a>img{width: 80px;}







.scrollTop{}
.scrollTopBtn{position: fixed; bottom: 50px; right: 25px; background: #fff; padding: 15px 15px; box-shadow: 2px 2px 10px #818181; cursor: pointer; z-index: 9999999999; display: none;}
.scrollTopBtn:hover{color: #8f0808;}

















@media screen and (max-width:1440px) {
    #header{ height: auto;}
    .headerTopNav{display: none;}
    .container{width: 100%; padding: 0 20px; box-sizing: border-box;}
    .headerBottomNav nav{display: none; }

    .mobileLogo{display: block;}
    .mobileLogo a img{width: 27px;}

    .searchBox{display: flex; align-items: center;}
    .searchBox .mobile{display: block; width: 24px; height: 16px; margin-left: 10px; cursor: pointer; position: relative;}
    .searchBox .mobile>div{width: 100%; height: 2px; background: #2e2e2e; position: absolute; top: 0; left: 0; transition: .3s;}
    .searchBox .mobile .line1{transform: rotate(0deg);}
    .searchBox .mobile .line2{top: 50%; opacity: 1;}
    .searchBox .mobile .line3{top: 100%; transform: rotate(0deg);}

    .searchBox .mobile .line1.active{top: 50%; transform: rotate(45deg);}
    .searchBox .mobile .line2.active{opacity: 0;}
    .searchBox .mobile .line3.active{top: 50%; transform: rotate(-45deg);}

    .headerBottomNav nav{display: none; position: absolute; top: 90px; width: 100%; left: 0; z-index: 99999999; background: #fff; 
    height: 100vh; overflow-y: auto;}
    .headerBottomNav nav.active{display: block;}
    .headerBottomNav nav .bg{display: none;}
    .headerBottomNav nav>ul{flex-direction: column; width: 100%;}
    .headerBottomNav nav>ul>li{width: 100%; text-align: left;}
    .headerBottomNav nav>ul>li>a{display: block; width: 100%; padding: 0;  height: 50px; border-bottom: 1px solid #ddd; line-height: 50px; padding-left: 20px;}
    .headerBottomNav nav>ul>li>a>.icon{
        top: 15px;
    }
    .headerBottomNav nav>ul>li>ul{position: static; width: 100%; text-align: left; overflow: hidden; height: auto; transition: none; background: rgb(177, 1, 1); display: none;}
    .headerBottomNav nav:hover>ul>li>ul{height: auto; padding: 0;}
    .headerBottomNav nav>ul>li>ul>li{height: 50px; line-height: 50px; padding-left: 20px;}
    .headerBottomNav nav>ul>li>ul>li>a{color: #fff;}
    .headerBottomNav nav>ul>li>ul>li:hover>a{color: #303030;}




    .section02 .container2{width: 100%; padding: 0 20px; box-sizing: border-box;}
    .history_icon_wrap ul{display: flex; flex-wrap: wrap; width: 100%; margin: 0 auto;}
    .history_icon_wrap ul li{width: calc(100%/4); max-width: unset; min-width: 100px; border-radius: 12px;}
  
    


    .section04 .container{flex-direction: column;}
    .section04 .container>div{width: 100%;}

    .notiNewsCnt ul{flex-direction: column;}
    .notiNewsCnt ul li{display: flex; width: 100%; padding: 20px 0; box-sizing: border-box; border-bottom: 1px solid #ddd;}
    .notiNewsCnt ul li:first-child{border-right: none;}
    .notiNewsCnt ul li .left{text-align: left; width: 10%; padding-top: 20px;}
    .notiNewsCnt ul li .left .day{color: #8f0808; font-size: 32px; font-weight: bold;     letter-spacing: 2px;}
    .notiNewsCnt ul li .left .date{font-size: 12px; color: #666666; letter-spacing: -1px;     margin-top: 10px;}
    .notiNewsCnt ul li .right{width: 75%; padding-left: 20px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between;}
    .news{margin-top: 30px;}



    .slide_cont_wrap .tab_slide_content{width: 94%; height: 350px; padding: 40px 60px; left: 20px; top: 300px;}
    .tab_slide_content h3{ max-width: 100%;-webkit-line-clamp: 2;}

    .tab_slide_content .content_text{ max-width: 100%; -webkit-line-clamp: 2;}



    .section06>.container{flex-direction: column;}
    .section06>.container>div{width: 100%; justify-content: flex-start;}

    .section06 .on>ul>li{display: flex; height: 370px; margin-bottom: 30px;}
    .section06 .on>ul>li>.img{width: 80%; padding-right: 20px; box-sizing: border-box;}
    .section06 .on>ul>li>.img a .playBtn{left: 40%; top: 40%;}
    .section06 .on>ul>li>.img1{background: url(../img/videoimage01.jpg) no-repeat left top/80%;}
    .section06 .on>ul>li>.img2{background: url(../img/videoimage02.jpg) no-repeat left top/80%;}
    .section06 .on>ul>li>.text{width: 50%; padding-left: 10px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: flex-start;} 
    .section06 .on>ul>li>.text h3{font-size: 20px; font-weight: 700; margin-bottom: 20px;}
    .section06 .on>ul>li>.text p{font-size: 14px; line-height: 180%; color: #555;}


    .popupzon{width: 100%; height: 650px;}



    .section07Grid .gridSwiper{height: 800px;}
    .section07 .container7{padding: 0 20px; box-sizing: border-box;}




    .f_addresswrap .addresswrap{flex-direction: column;}
    .f_addresswrap .addresswrap address{margin-bottom: 10px;}
    .f_addresswrap .addresswrap .email{margin-bottom: 10px;}
    .f_addresswrap .addresswrap p{margin-bottom: 10px;}
    }

    @media screen and (max-width:1000px){
      .section06 .on>ul>li{display: flex; flex-direction: column; height: auto; margin-bottom: 30px;}
      .section06 .on>ul>li>.img{width: 100%; height: 250px; padding-right: 20px; box-sizing: border-box;}
      .section06 .on>ul>li>.img a .playBtn{left: 50%; top: 50%;}
      .section06 .on>ul>li>.img1{background: url(../img/videoimage01.jpg) no-repeat left top/100% 100%;}
      .section06 .on>ul>li>.img2{background: url(../img/videoimage02.jpg) no-repeat left top/100% 100%;}
      .section06 .on>ul>li>.text{width: 100%; padding-left: 10px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: flex-start; margin-top: 30px;} 
      .section06 .on>ul>li>.text h3{font-size: 20px; font-weight: 700; margin-bottom: 20px;}
      .section06 .on>ul>li>.text p{font-size: 14px; line-height: 180%; color: #555;}


      .section07Grid .gridSwiper{height: 600px;}
    }
